{% extends "AuthAdmin.html" %}
{% block content %}
 <center>
  <form action="/front/auth/engine/remove_source" method="post">
<div align="center">
 <div class="col-md-6">
    {{ form.csrf_token }}

 <div class="form-label-group">
    	<label for="lang">Uploaded projects with source code</label> 
	<select name="path">
		{% for content in sources_dirs %}
		<option value="{{ content }}">{{ content }} </option>
		{% endfor %}
  	        <option value="0" selected>None</option>
	</select>
 </div> 

<br>
 <div class="form-label-group">
<br>
 <button class="btn btn-sm btn-success" type="submit">Reemove project</button>	
</div>
<br>
  </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                Success! {{ message[1]|safe }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1]|safe }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
	{% endwith %}
  </div>

  </form>
	<br> 

</center> 
{% endblock %}

