{% extends "AuthAdmin.html" %}

    {% block content %}

        
	<div class="card-body">

	<div class="table-responsive">
                <table class="display" id="dataTable" width="100%" border="1" cellpadding="100">
                  <thead align="center">
                    <tr>
                      <th>Rule_ID</th>
                      <th>Title</th>
                      <th>Path</th>
                      <th>Lines</th>
		      <th>Risk</th>
		      <th>Ext</th>
		      <th>View</th>
                    </tr>
                  </thead>
                  <tfoot align="center">
                    <tr>
                      <th>Rule_ID</th>
                      <th>Title</th>
                      <th>Path</th>
                      <th>Lines</th>
		      <th>Risk</th>
		      <th>Ext</th>
		      <th>View</th>
                    </tr>
                  </tfoot>
                <tbody align="center">
                {% for item in elements %}
                    <tr>
			    <td><a href="/front/auth/rules/update/{{ item.rule_id }}">{{ item.rule_id  }}</a></td>
			    <td><font color="orange">{{ item.title }}</font></td>
			    <td><font color="yellow">{{ item.path }}</font></td>
		      <td><font color="green">{{ item.lines[:10]+"..." }}</font></td>
		      <td>
			      {% if item.risk == "high" or  item.risk == "High"  %}<font color="red">{{ item.risk  }}</font>{% endif %}
			      {% if item.risk == "medium" or  item.risk == "Medium"  %}<font color="yellow">{{ item.risk  }}</font>{% endif %}
			      {% if item.risk == "low" or  item.risk == "Low"  %}<font color="green">{{ item.risk  }}</font>{% endif %}
			      {% if item.risk == "Info" or  item.risk == "Warning" or  item.risk == "Alert"  %}<font color="cyan">{{ item.risk  }}</font>{% endif %}
		      </td> 
		      <td>{{ item.lang  }}</td> 
 		      <td>
				<form  method="post" action="/front/auth/engine/open_code">
                  		<input type="hidden" name="path" value="{{ item.path }}" />
                  		<input type="hidden" name="lines" value="{{ item.lines }}" />
                  		<input type="hidden" name="lang" value="{{ item.lang }}" />
                  		<center>
				<input type="image"  border=""  src="{{ url_for('static', filename='img/export.ico') }}" alt="" width="28" height="28" formtarget="_blank"/>
		   		</center>
                  		</form> 
		      </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
    {% endblock %}
