<!doctype html>
<html lang="en">

<head>
	<title>CodeCat</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}"></script>

	<script src="{{ url_for('static', filename='assets/vendor/metisMenu/metisMenu.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/vendor/jquery-sparkline/js/jquery.sparkline.min.js')}}"></script>

	<script src="{{ url_for('static', filename='assets/vendor/toastr/toastr.js')}}"></script>
	<script src="{{ url_for('static', filename='assets/scripts/common.js')}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/linearicons/style.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/metisMenu/metisMenu.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/toastr/toastr.min.css')}}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css')}}">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/prism.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css')}}">
<script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>
		<style type="text/css" title="currentStyle">
			@import "{{ url_for('static', filename='media/css/demo_page.css')}}";
			@import "{{ url_for('static', filename='media/css/demo_table.css')}}";
                       @import "{{ url_for('static', filename='media/theme/ui-darkness/jquery-ui-1.8.23.custom.css')}}";
		</style>
<script type="text/javascript">Prism.highlightAll();</script>

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid" style="background-color: #313131;">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu"></i></button>
				</div>
				<!-- logo -->
				<div class="navbar-brand">
					<a href="/front/auth/welcome"><img src="/static/assets/img/logo.png"  ></a>
				</div>
				<!-- end logo -->
				<div class="navbar-right">
					<!-- search form -->
				
					<!-- end search form -->
					<!-- navbar menu -->
					<div id="navbar-menu">
						<ul class="nav navbar-nav">
						
		
						
						</ul>
					</div>
					<!-- end navbar menu -->
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="left-sidebar" class="sidebar">
			<button type="button" class="btn btn-xs btn-link btn-toggle-fullwidth">
				<span class="sr-only">Toggle Fullwidth</span>
				<i class="fa fa-angle-left"></i>
			</button>
			<div class="sidebar-scroll" style="overflow: hidden; width: auto; background-color: #313131; height: 95%;" >
				<div class="user-account">
				
					<div class="dropdown">
					
						<ul class="dropdown-menu dropdown-menu-right account">
							<li><a href="#">My Profile</a></li>

							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
				<nav id="left-sidebar-nav" class="sidebar-nav">
					<ul id="main-menu" class="metismenu">
						<li class="">
							<a href="#uiElements" class="has-arrow" aria-expanded="false"><span>User Control</span></a>
							<ul aria-expanded="true">
								<li class=""><a href="/front/auth/users/insert">Insert User</a></li>
								<li class=""><a href="/front/auth/users/delete">Remove User</a></li>
								<li class=""><a href="/front/auth/users/list">List Users</a></li>
							
							</ul>
						</li>
						
						<li class="">
							<a href="#uiElements" class="has-arrow" aria-expanded="false"> <span>Rules Control</span></a>
							<ul aria-expanded="true">
								<li class=""><a href="/front/auth/rules/insert">Insert rule</a></li>
								<li class=""><a href="/front/auth/rules/delete">Remove rule</a></li>
								<li class=""><a href="/front/auth/rules/list">List rule</a></li>
							
							</ul>
						</li>

						<li class="">
							<a href="#uiElements" class="has-arrow" aria-expanded="false"> <span>Code Magic</span></a>
							<ul aria-expanded="true">
								<li class=""><a href="/front/auth/engine/allsinks">Search per rules</a></li>
								<li class=""><a href="/front/auth/engine/getsinks">Get sink</a></li>
								<li class=""><a href="/front/auth/engine/clear">Clear cache</a></li>
							
								<li class=""><a href="/front/auth/engine/list_cache">List cache</a></li>
							</ul>
						</li>
		                               <li class="">
							<a href="#uiElements" class="has-arrow" aria-expanded="false"> <span>Account settings</span></a>
							<ul aria-expanded="true">
									<li><a href="/front/auth/logof"><i class="fa fa-fw fa-edit"></i> <span>Logof</span></a></li>
									<li><a href="/front/auth/users/my_update"><i class="fa fa-fw fa-edit"></i> <span>Change my password</span></a></li>
 							</ul>
						</li>
<center><img src="/static/codecat01.png" height="200" width="250" ></center>

						

	
				
				
				</nav>
				
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN CONTENT -->
		<div id="main-content">
			<div class="container-fluid">
			
				
			
						<div class="col-md-12">
							<center><h1>{{ title }}</h1></center>
							<br><br>{{ image|safe }}
								
								{% block content %}

                                                               {% endblock %}
											
							
						</div>
		
				
				
			</div>
		</div>
		<!-- END MAIN CONTENT -->
		<div class="clearfix"></div>
		<footer style="background-color: #313131;">
			<p class="copyright">&copy; 2019 last update template</p>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->

</body>
</html>
